<%- include("header") %>

<div class="container p-5">
  <h1 class="text-center">---- Caterer ----</h1>

  <div class="h1">New Product</div>
  <form action="/caterer/product/new" method="POST">
    <div class="mb-3">
      <label for="product_name" class="form-label">Product Name</label>
      <input
        type="text"
        class="form-control"
        id="product_name"
        name="product_name"
        aria-describedby="emailHelp"
      />
    </div>
    <div class="mb-3">
      <label for="product_id" class="form-label">Product Id</label>
      <input
        type="number"
        class="form-control"
        id="product_id"
        name="product_id"
        aria-describedby="emailHelp"
      />
    </div>
    <div class="mb-3 form-check">
      <label for="availability" class="form-check-label">availability</label>
      <input
        type="checkbox"
        class="form-check-input"
        id="availability"
        name="availability"
        aria-describedby="emailHelp"
      />
    </div>
    <div class="mb-3">
      <label for="price" class="form-label">price</label>
      <input
        type="number"
        class="form-control"
        id="price"
        name="price"
        aria-describedby="emailHelp"
      />
    </div>
    <div class="mb-3">
      <label for="mat_req" class="form-label">Id of Material Required</label>
      <input
        type="number"
        class="form-control"
        id="mat_req_id"
        name="mat_req_id"
        aria-describedby="emailHelp"
      />
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

<div class="container p-5">
  <div class="h1">Delete Product</div>
  <form class="" action="/caterer/product/delete" method="post">
    <div class="mb-3">
      <label for="product_id" class="form-label">Product Id</label>
      <input
        type="number"
        class="form-control"
        id="product_id"
        name="product_id"
        aria-describedby="emailHelp"
      />
    </div>
    <button type="submit" class="btn btn-danger">Submit</button>
  </form>
</div>

<div class="productList container rounded p-5">
  <div class="h1">Product List</div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Product Name</th>
        <th scope="col">Product Id</th>
        <th scope="col">Product availability</th>
        <th scope="col">Price in Rs</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Cafe latte</th>
        <td>1</td>
        <td>Available</td>
        <td>100</td>
      </tr>
      <tr>
        <th scope="row">Cafe mocha</th>
        <td>2</td>
        <td>Available</td>
        <td>120</td>
      </tr>
      <tr>
        <th scope="row">Cappuccino</th>
        <td>3</td>
        <td>Available</td>
        <td>90</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="productList container rounded p-5">
  <div class="h1">Order List</div>
  <a href="#" class="btn btn-info">Pending</a>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Order Id</th>
        <th scope="col">Customer Id</th>
        <th scope="col">Customer Name</th>
        <th scope="col">Product Name</th>
        <th scope="col">Product Id</th>
        <th scope="col">Product Availability</th>
        <th scope="col">Price in Rs</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>O1</td>
        <td>AU12345</td>
        <td>Naruto Uzumaki</td>
        <td>Cafe latte</td>
        <td>1</td>
        <td>Available</td>
        <td>100</td>
      </tr>
      <tr>
        <td>O2</td>
        <td>AU67890</td>
        <td>Monkey D. Luffy</td>
        <td>Cafe mocha</td>
        <td>2</td>
        <td>Available</td>
        <td>120</td>
      </tr>
      <tr>
        <td>O3</td>
        <td>AU54321</td>
        <td>Ichigo Kurosaki</td>
        <td>Cappuccino</td>
        <td>3</td>
        <td>Available</td>
        <td>90</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="container p-5">
  <div class="h1">Update Order</div>
  <form class="" action="/caterer/order/update" method="post">
    <div class="mb-3">
      <label for="updateOrder_id" class="form-label">Order Id</label>
      <input
        type="number"
        class="form-control"
        id="product_id"
        name="updateOrder_id"
        aria-describedby="emailHelp"
      />
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>

<div class="cancelOrder container rounded p-5">
  <div class="h1">Cancel Order</div>
  <form action="order/cancel" method="POST">
    <div class="mb-3">
      <label for="" class="form-label">Order Id</label>
      <input
        type="number"
        class="form-control"
        id="productIdCancel"
        name="order_id"
      />
    </div>
    <button type="submit" class="btn btn-danger">Cancel</button>
  </form>
</div>

<div class="productList container rounded p-5">
  <div class="h1">Supplier List</div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Supplier Name</th>
        <th scope="col">Supplier Id</th>
        <th scope="col">Material</th>
        <th scope="col">Quantity</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Capsule Corps</th>
        <td>SP001</td>
        <td>Coffee beans</td>
        <td>100 kg</td>
      </tr>
      <tr>
        <th scope="row">Straw Hat Emporium</th>
        <td>SP002</td>
        <td>Chocolate syrup</td>
        <td>100 l</td>
      </tr>
      <tr>
        <th scope="row">Soul Society Supplies</th>
        <td>SP003</td>
        <td>Powdered milk</td>
        <td>150 kg</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="container m-3">
  <br />
  <br />
  <br />
</div>

<%- include("footer") %>
